<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar') %>
   <div class="container">
    <h1>Pergunta</h1>
    <div class="card">
        <div class="card-body">
            <%= pergunta.titulo %>
        </div>
        <div class="card-body">
            <%= pergunta.descricao %>
        </div>
    </div>


   </div>
</body>
<%- include ('partials/footer.ejs'); %>