<%- include ('partials/header.ejs'); %>
<body>
    <%- include ('partials/navbar') %>
   <div class="container" style="margin-top: 4vh;">
      <br>
    <h2>Pergunta:</h2>
       <hr>
           <h4> <%= pergunta.titulo %></h4>
           <p> <%= pergunta.descricao %></p>      
  
    <br>
    <label for="corpo"><h2>Responda:</h2></label>
    <div class="card ">
     <div class="card-body">
      <form action="/responder" method="post">  
         <textarea name="corpo"  rows="5" class="form-control"  placeholder="Digite aqui sua resposta." required></textarea>
         <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
         <button type="submit" class="btn btn-outline-dark" style="margin: 30px auto 10px 1px ;">Responder</button>
      </form>
     </div>
   </div> 
   <br>
   <h2>Respostas:</h2>
   <hr>
   
         <% respostas.forEach(resposta => { %>
         <div class="card">
          <div class="card-body">
            <% if (resposta.corpo == undefined ) { %>
               <p> <%= "Nenhuma resposta foi encontrada para essa pergunta." %></p> 
            <% } else { %>

               <p> <%= resposta.corpo %></p> 

            <% } %>   
         </div>
         </div>
         <br>
         <% }) %>
  

</div>
</body>
<%- include ('partials/footer.ejs'); %>